---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/AgileVentures/teams?access_token=GITHUB_ACCESS_TOKEN&client_id=GITHUB_CLIENT_ID&client_secret=GITHUB_CLIENT_SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1413993244'
      Etag:
      - '"06e531fe21e6592d282a26414a21437a"'
      X-Oauth-Scopes:
      - gist, read:org, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"name":"Owners","id":462971,"slug":"owners","permission":"admin","url":"https://api.github.com/teams/462971","members_url":"https://api.github.com/teams/462971/members{/member}","repositories_url":"https://api.github.com/teams/462971/repos"},{"name":"AutoGraders","id":747558,"slug":"autograders","permission":"admin","url":"https://api.github.com/teams/747558","members_url":"https://api.github.com/teams/747558/members{/member}","repositories_url":"https://api.github.com/teams/747558/repos"},{"name":"Codealia
        team","id":730835,"slug":"codealia-team","permission":"admin","url":"https://api.github.com/teams/730835","members_url":"https://api.github.com/teams/730835/members{/member}","[...]
